<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Anatomical Structures Data</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <form class="d-flex ms-auto">
        <input
          class="form-control me-2"
          type="text"
          placeholder="Search"
          [(ngModel)]="searchQuery"
        />
        <button class="btn btn-primary" type="button" (click)="onSearch()">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
